.modalBox,
.modalBoxLightTheme{
  width: 512px;
  margin: auto;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: #2a303c;
  color: var(--base-text-color);
  box-shadow: 10px 11px 26px 14px rgb(0 0 0 / 5%);
  animation: modal-show 0.3s;
}

.modalBoxLightTheme{
  background: var(--color-white);
  color: var(--color-black);
}

.modalText{
  padding: 1.5rem 0 3rem 0;
}

.btnGroup{
  display: flex;
  gap:1rem;
  justify-content: flex-end;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px){
  .modalBox,
  .modalBoxLightTheme{
    width: auto;
    padding: 2.5rem 4rem;
  }
}

@media screen and (max-width: 488px){
 .modalBox,
 .modalBoxLightTheme{
   position: fixed;
   min-width: 255px;
   width: 100%;
   bottom: 0;
 }
}