.modalOverlay,
.modalOverlayBlack {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  cursor:auto;
}

.modalOverlayBlack{
  z-index: 1;
  background-color: rgba( 0, 0, 0, 0.8 );
}