.pageContainer{
  width: 100%;
  max-width: 1360px;
  min-height: calc(100vh - 227px);
  margin: auto;
  margin-top: 62px;
  padding: 1rem;
}

.breadcrumbs{
  text-align: start;
  font-size: 14px;
  padding: .5rem 0 .5rem 0;
}

.productContainer{
  display: flex;
  margin-top: 4rem;
}

.imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-white);
  margin: 1rem 1rem 1rem 0;
  height: 310px;
  min-width: 310px;
  border-radius: 10px;
}

.img{
  max-width: 75%;
  max-height: 75%;
}

.productInfo{
  display: flex;
  padding: 3rem;
  flex-direction: column;
  gap: 2rem;
}

.ratingContainer{
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 10px;
}

.price{
  font-size: 3rem;
  font-weight: 600;
  text-align: start;
  margin: 1rem 0 1.5rem 0;
}

.ButtonContainer{
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1024px){
  .productContainer{
    flex-direction: column;
  }
  .productInfo{
    padding: 3rem 0;
  }
  .imgContainer{
    margin: 1rem;
  }
  .productInfo{
    margin:1rem;
  }
}

