* {
  box-sizing: border-box;
}

.nav,
.navWhite {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #24292f;
  color:var(--color-white)
}

.navWhite{
  background-color: #ffffff;
  color:#24292f;
}

.title{
  margin-left: 1rem;
  font-size: 18px;
  cursor: pointer;
}

.label{
  width: 24px;
  height: 24px;
  margin: 0.5rem;
  cursor: pointer;
}

.category,
.searchBox{
  padding-left:0.75rem;
  padding-right:0.75rem;
  line-height: 2;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color .3s;
}

.category:hover{
  background-color: rgba(74, 83, 95, 0.555);
}

.cursor{
  cursor: pointer;
}

.flex{
  display:flex;
  justify-content: center;
  align-items: center;
}

.flex1{
  display: flex;
  flex:1 1 0%
}

.checkbox{
  appearance: none ;
}

.swapOff{
  position: relative;
}

.cartCount{
  display: inline-block;
  position: relative;
  left: 7px;
  bottom: 36px;
  font-size: 12px;
  padding: 0.2rem 0.7rem;
  border-radius: 100px;
  background: #EF4444;
}