.inputText{
  width: 187px;
  height: 46px;
  padding:0 16px 0 16px;
  background-color: rgb(75 85 99);
  border: none;
  border-radius: .5rem;
  outline: none;
}

.serachedContainer{
  position: absolute;
  top: 62px;
  right: calc((100vw - 1308px) / 2);
  width: 22rem;
  max-height: 28rem;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: rgb(75 85 99);
}

.searchList{
  padding:1rem;
  transition: background-color .3s;
}

.searchListText{
  text-align: start;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;  
}

.searchList:hover{
  background-color: #545D6C;
}

.modalOverlay {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  cursor:auto
}

@media screen and (max-width: 1400px){
  .serachedContainer{
    position: absolute;
      top: 62px;
      right: 42px;
   }
}

@media screen and (max-width: 488px){
 .inputText{
  width: 62px;
  padding-left: 14px;
 }
 .inputText:focus{
  width: 202px;
  padding-left: 14px;
  transition: width .3s;
 }
}