.footer,
.footerLightTheme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
}

.footer{
  color:var(--base-text-color);
  background-color: rgb(36,41,51);
}

.footerLightTheme{
  background-color: var(--color-gray-200);
  color:var(--color-black);
}

.gitICon{
  display: block;
  width: 24px;
  height: 24px;
  margin: 20px;
  cursor: pointer;
}
