*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1.6rem var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/* title */
.title-bold-16 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 115%;
}

.title-bold-24 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115%;
}

.title-bold-28 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 115%;
}

.title-bold-30 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 115%;
}

.title-medium-16 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.title-medium-24 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.title-medium-28 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
}

.title-medium-30 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

/* text */
.text-regular-12 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-regular-14 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-regular-16 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-regular-18 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-regular-20 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-medium-12 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}

.text-medium-14 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
}

.text-medium-16 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.text-medium-18 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.text-medium-20 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.0005em;
}

.text-medium-24 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.0005em;
}

.text-bold-12 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-bold-14 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-bold-16 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-bold-18 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}

.text-bold-20 {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.0005em;
}


/* margin */
.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

.mtb {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

