.theme {
    color: white;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.button {
    width: 1.8em;
    height: 1.8em;
    border: none;
    background: none;
}

.icon {
    width: 1.8em;
    height: 1.8em;
    cursor: pointer;
}

.dark {
    color: white;
}

.form {
    position: relative;
}

.input {
    height: 3em;
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    margin: 0 10px;
}

.input::placeholder {
    padding: 5px;
    font-size: 1.3em;
}

.cart {
    position: relative;
}

.badge {
    position: absolute;
    left: 12px;
    bottom: 19px;
    background: red;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    cursor: pointer;
}

.searchList {
    list-style: none;
    width: 220px;
    margin: 10px 0 0;
    padding: 0;
    position: absolute;
    left: 10px;
    z-index: 2;
}

.search {
    padding: 5px;
    border-bottom: none;
}

.search:hover {
    cursor: pointer;
    border-radius: 7px;
}