@media (min-width: 1450px) {
    .keyword {
        max-width: 1450px;
        width: 90%;
        background: none;
        list-style: none;
        color: white;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 1449px) {
    .keyword {
        width: 90%;
        background: none;
        list-style: none;
        color: white;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(3, auto);
        padding-left: 20px;
    }
}

@media (max-width: 1150px) {
    .keyword {
        width: 90%;
        background: none;
        list-style: none;
        color: white;
        margin: 30px 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding-left: 85px;

    }
}

@media (max-width: 800px) {
    .keyword {
        background: none;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        color: white;
        margin: 30px 0;
        justify-content: center;
    }
}
/*.keyword {*/
/*    max-width: 1450px;*/
/*    width: 90%;*/
/*    background: none;*/
/*    list-style: none;*/
/*    !*display: flex;*!*/
/*    !*flex-wrap: wrap;*!*/
/*    color: white;*/
/*    margin: 30px 0;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(4, auto);*/
/*    !*justify-content: center;*!*/
/*}*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 45px;
}

.products {
    max-width: 1400px;
    width: 90%;
    height: 435px;
    overflow-x: scroll;
    background: none;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    justify-content: flex-start;
    margin: 30px 0;
}

.productItem {
    width: 320px;
    height: 400px;
    background: white;
    border-radius: 15px;
    margin-bottom: 35px;
    position: relative;
    cursor: pointer;
    margin-right: 25px;
}

.img {
    width: 220px;
    height: 220px;
    margin: 50px;
    transition: all 0.2s linear;
}

.productItem:hover img {
    transform: scale(1.2);
    transition: all 0.2s linear;
}

.productInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #6e6e6e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    width: 320px;
    height: 97px;
    bottom: 0;
}

.productTitle {
    background: #6e6e6e;
    margin: 0;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price {
    background: #6e6e6e;
}